server.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="exemple" targetNamespace="urn:exemple" xmlns:typens="urn:exemple" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns="http://schemas.xmlsoap.org/wsdl/"  xmlns:typens0="http://localhost/SOAP/TPCUISTOT/bd.inc.php">
    <message name="connexionPDO"/>
       <message name="connexionPDOResponse">
      <part name="connexionPDOReturn"/>
    </message>

    <message name="recettes"/>
       <message name="recettesResponse">
      <part name="recettesReturn"/>
    </message>

    <message name="addRecette"/>
       <message name="addRecetteResponse">
      <part name="addRecetteReturn"/>
    </message>

    <message name="deleteRecette"/>
       <message name="deleteRecetteResponse">
      <part name="deleteRecetteReturn"/>
    </message>

    
  <portType name="essai_instancePortType">
    
    <operation name="connexionPDO">
      <input message="typens:connexionPDO"/>
      <output message="typens:connexionPDOResponse"/>
    </operation>

    <operation name="recettes">
      <input message="typens:recettes"/>
      <output message="typens:recettesResponse"/>
    </operation>
    
    <operation name="addRecette" parameterOrder="nomRecette descriptionRecette">
      <input message="tns:addRecette"/>
      <output message="tns:addRecetteResponse"/>
    </operation>
    
    <operation name="deleteRecette">
      <input message="typens:deleteRecette"/>
      <output message="typens:deleteRecetteResponse"/>
    </operation>

  </portType>  

  <binding name="essai_instanceBinding" type="typens:essai_instancePortType">

      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="connexionPDO">
      <soap:operation soapAction="urn:essai_instanceAction"/>
      <input>
        <soap:body namespace="urn:exemple" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="urn:exemple" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>

    <operation name="recettes">
      <soap:operation soapAction="urn:essai_instanceAction"/>
      <input>
        <soap:body namespace="urn:exemple" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="urn:exemple" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
 
    <operation name="addRecette">
      <soap:operation soapAction="urn:essai_instanceAction"/>
      <input>
        <soap:body namespace="urn:exemple" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="urn:exemple" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    
    <operation name="deleteRecette">
      <soap:operation soapAction="urn:essai_instanceAction"/>
      <input>
        <soap:body namespace="urn:exemple" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="urn:exemple" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>

  </binding>
  <service name="exempleService">
    <port name="essai_instancePort" binding="typens:essai_instanceBinding">
      <soap:address location="http://localhost/SOAP/TPCUISTOT/bd.inc.php"/>
    </port>
  </service>
</definitions>